@import url(./root.css);

body {
    background-color: var(--DEE2E6);
}

.seperator-div {
    margin: 2rem;
    background-color: var(--DEE2E6);
}

.line-break-div {
    color: var(--DEE2E6);
    height: 1px;
    width: 100%;
}

.card-element-horizontal {
    width: 35rem;
    background-color: var(--PURE-WHITE);
    border-radius: 4px;
}

.card-element-horizontal>br {
    color: var(--DEE2E6);
}

/* card element main content */
.card-element__main {
    display: flex;

}

.card__image-container {
    width: 11rem;
    height: 11rem;

}

.card__image-container>img {
    border-radius: px4px 4px 0 0;
}

.card-element__main-text {
    margin-left: 1rem;

}


/* card element bottom */
.card-element__bottom {
    display: flex;
    justify-content: space-evenly;
    border-top: var(--6C757D) solid 1px;
}


.card-button {
    background-color: inherit;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 10%;

}

/* vertical-card */
/* .card-vertical {
    border: solid;
    width: 30rem;
} */

.card-vertical-upper-text{
margin-left: 1rem;
margin-top: .5rem;
}
.card-vertical-img-cont{
    width:35rem;
    height:19.6;
}




